@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&family=Lato:wght@300;400;700&family=Lobster&family=Lora:wght@400;500;600&family=Mulish:wght@400;500;600&family=Nunito:wght@300;400;500;600&family=Open+Sans:wght@300;400;500;600&family=Readex+Pro&family=Roboto:wght@300;400;500&family=Signika:wght@400;500;600&family=Varela+Round&family=Work+Sans:wght@300;400;500&display=swap');

@font-face {
    font-family: "Dot Matrix";
    src: url("./DOTMATRI.TTF");
}

html, body, #app {
    background-color: whitesmoke;
}

$lato: 'Lato', sans-serif;
$lobster: 'Lobster', cursive;
$lora: 'Lora', serif;
$mulish: 'Mulish', sans-serif;
$nunito: 'Nunito', sans-serif;
$open-sans: 'Open Sans', sans-serif;
$roboto: 'Roboto Slab', serif;
$work-sans: 'Work Sans', sans-serif;
$abyssinica: 'Abyssinica SIL', serif;
$dot-matrix: 'Dot Matrix', serif;
$signika: 'Signika Negative', sans-serif;
$verala-round: 'Varela Round', sans-serif;
$readex: 'Readex Pro', sans-serif;

.dot-matrix {
    font-family: $dot-matrix;
}

.lato {
    font-family: $lato;
}

.lobster {
    font-family: $lobster;
}

.lora {
    font-family: $lora;
}

.mulish {
    font-family: $mulish;
}

.nunito {
    font-family: $nunito;
}

.open-sans {
    font-family: $open-sans;
}

.roboto {
    font-family: $roboto;
}

.work-sans {
    font-family: $work-sans;
}

.abyssinica {
    font-family: $abyssinica;
}

.signika {
    font-family: $signika;
}

.verala-round {
    font-family: $verala-round;
}

.readex {
    font-family: $readex;
}

.curvy-bg {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 300 300' preserveAspectRatio='xMinYMin meet'><path d='M0,100 C150,200 350,0 500,100 L500,00 L0,0 Z'></path></svg>")
}


//REMOVE UGLY ARROWS FROM input[type=number]
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.styled-scrollbars {
    // --scrollbar-foreground: rgb(66, 65, 65);
    --scrollbar-foreground: rgb(56 189 248);
    --scrollbar-background: rgba(0,0,0,0);
    /* Foreground, Background */
    scrollbar-color: var(--scrollbar-foreground) var(--scrollbar-background);
}
.styled-scrollbars::-webkit-scrollbar {
    width: 7px; /* Mostly for vertical scrollbars */
    height: 10px; /* Mostly for horizontal scrollbars */
}
.styled-scrollbars::-webkit-scrollbar-thumb { /* Foreground */
    background: var(--scrollbar-foreground);
    border-radius: 5px;
}
.styled-scrollbars::-webkit-scrollbar-track { /* Background */
    background: var(--scrollbar-background);
}

@import "./tw-extensions.scss";

@font-face {
    font-family: "Dot Matrix";
    src: url("./DOTMATRI.TTF");
}

.blue-under-shadow {
    box-shadow: 0px 3px 0px 0px rgb(56,189,248), inset 0px 10px 30px -12px rgb(12,12,12,0.5);
}

.blue-under-shadow-with-focus {
    box-shadow: 0px 3px 0px 0px rgb(56,189,248), inset 0px 10px 30px -12px rgb(12,12,12,0.5);
    
    &:focus {
        box-shadow: 0px 3px 0px 0px rgb(56,189,248), inset 0px 10px 30px -12px rgb(12,12,12,0.5), rgba(56,189,248,0.6) 0px 10px 10px -5px inset, rgba(56,189,248,0.6) 0px 18px 10px -5px inset;
    }
}

.button-open-overlay {
    animation-name: button-open-overlay-animation;
    animation-duration: 1000ms;
    animation-fill-mode: forwards;
}

.button-close-overlay {
    animation-name: button-close-overlay-animation;
    animation-duration: 500ms;
    animation-direction: reverse;
    animation-fill-mode: forwards;
}

@keyframes button-open-overlay-animation {
    0% {
        @apply bottom-5;
        @apply left-5;
        @apply w-10;
        @apply h-10;
        @apply rounded-full;
    }

    80% {
        @apply left-0;
        @apply w-full;
        @apply h-10;
        @apply bottom-5;
        @apply rounded;
        opacity: 100%;
    }

    85% {
        opacity: 0%;
    }

    100% {
        opacity: 0%;
    }
}

@keyframes button-close-overlay-animation {
    0% {
        @apply bottom-5;
        @apply left-5;
        @apply w-10;
        @apply h-10;
        @apply rounded-full;
    }

    80% {
        @apply left-0;
        @apply w-full;
        @apply h-10;
        @apply bottom-5;
        @apply rounded;
        opacity: 100%;
    }

    85% {
        opacity: 0%;
    }

    100% {
        opacity: 0%;
    }
}

.open-overlay {
    animation-name: open-overlay-animation;
    animation-duration: 1000ms;
    animation-fill-mode: forwards;
}

.close-overlay {
    animation-name: close-overlay-animation;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

@keyframes open-overlay-animation {
    0% {
        @apply bottom-5;
        @apply left-5;
        @apply w-10;
        @apply h-10;
        @apply rounded-full;
        overflow: hidden
    }

    80% {
        @apply left-0;
        @apply h-10;
        @apply bottom-5;
        @apply rounded;
        overflow: hidden
    }

    85% {
        @apply w-full;
        @apply h-10;
        @apply bottom-5;
    }

    100% {
        @apply bottom-0;
        @apply h-full;
        @apply w-full;
        @apply rounded-t-none;
    }
}

@keyframes close-overlay-animation {
    0% {
        @apply bottom-0;
        @apply h-full;
        @apply w-full;
        @apply rounded;
    }

    10% {
        
        @apply w-full;
        @apply h-10;
        @apply bottom-5;
        @apply rounded;
    }

    15% {
        @apply left-0;
        @apply h-10;
        @apply bottom-5;
        @apply rounded;
        overflow: hidden
    }

    100% {
        @apply bottom-5;
        @apply left-5;
        @apply w-10;
        @apply h-10;
        @apply rounded-full;
        overflow: hidden
    }
}

.animate-zoom-in-out {
    animation: zoom-in-out 1500ms infinite;
}

@keyframes zoom-in-out {
    0%, 100% {
        @apply bottom-5;
        @apply left-5;
        @apply w-10;
        @apply h-10;
        @apply rounded-full;
        transform: scale(1);
    }

    50% {
        @apply bottom-5;
        @apply left-5;
        @apply w-10;
        @apply h-10;
        @apply rounded-full;
        transform: scale(1.3);
    }
}

#main.preload * {
    animation-duration: 0s !important;
    -webkit-animation-duration: 0s !important;
    transition:background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s !important;
}